<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "bows"}}Beaux-Ties{{/link-to}}</li>
        <li>{{#link-to "wishes"}}Wish List {{fa-icon "star"}}{{/link-to}}</li>
        {{/if}}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> {{#link-to 'bows_carts'}}{{fa-icon "shopping-cart fa-lg"}}{{/link-to}} </li>
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<p class="text-center">{{#link-to "bows"}}<img src="https://res.cloudinary.com/andrewinnocent/image/upload/v1524197709/Beaux_Ties_Final.png">{{/link-to}}</p>
<h3 class="text-center lead font-italic">Bow-ties to Match Your Beauty</h3>


{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
<br>
<br>
<br>
<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
