{{!-- <p>Wishlist <span {{action 'addToWish' wish}}>{{fa-icon "star"}}</span></p> --}}

{{#if wish.active}}
<p>Wishlist <span {{action 'removeFromWish'}}>{{fa-icon "star"}}</span></p>
{{else}}
<p>Wishlist <span {{action 'addToWish'}}>{{fa-icon "star-o"}}</span></p>
{{/if}}
