{{#if wish.active}}
<button class="btn" {{action 'removeFromWish'}}>Wish List {{fa-icon "star"}}</button>
{{else}}
<button class="btn" {{action 'addToWish'}}> Wish List {{fa-icon "star-o"}}</button>
{{/if}}
