{{#if wish.active}}
<p>Wishlist <button class="btn" {{action 'removeFromWish'}}>{{fa-icon "star"}}</button></p>
{{else}}
<p>Wishlist <button class="btn" {{action 'addToWish'}}>{{fa-icon "star-o"}}</button></p>
{{/if}}
