<img src={{model.image}}>
<h3>{{model.name}} {{model.style}}</h3>
<h5>{{model.fabric}} {{model.color}}</h5>
<p>{{model.description}}</p>
<h3>${{model.price}}</h3>

{{bow-quantity bow=model changeQuantity='changeQuantity'}}
{{add-to-cart addBow=model addToCart='addToCart'}}

<div>{{#link-to 'bows'}}Back to All Beaux-Ties{{/link-to}}</div>
