<h2>Shopping Cart</h2>
<div class="well">

  <ul class="list-group">
{{#each model as |bowsCart|}}

    <li class="list-group-item">
      <div class="media">
        <div class="media-left media-middle">
            <img class="media-object media-img" src={{bowsCart.bow.image}} alt={{bowsCart.bow.image}}>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{bowsCart.bow.name}} ${{bowsCart.bow.price}}</h4>
          <p>{{bowsCart.bow.description}}</p>
          {{remove-bow bow=bowsCart removeFromCart='removeFromCart'}}
        </div>
      </div>
    </li>

{{else}}

  <div>
    <h3>{{#link-to 'bows'}}Add Beaux-Ties to Your Cart!{{/link-to}}</h3>
  </div>

{{/each}}
</ul>

  <div>
    {{#if model}}
    <h3>Total: ${{model.content.firstObject._data.total}}</h3>
    {{else}}
    <h3>Total: $0.00</h3>
    {{/if}}
  </div>

</div>
{{log model.content}}

<div>
  {{checkout-button checkout='checkout'}}
</div>

<div>
  {{#link-to 'bows'}}Back to Shopping{{/link-to}}
</div>
